div{
    width: 100px;
    height: 100px;
    background-color: darkcyan;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, transform 2s;
    /* 放上去会有延时1s的效果 */
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}

/* 把鼠标放上去的时候的效果 */
div:hover{
    width: 200px;
    height: 200px;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg)
}
